.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 4.0625rem;
  background: #dee2ff no-repeat fixed;
}

.header-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 37.5rem;
}

.search-form-input {
  width: 50rem;
  height: 2.5rem;
  margin-right: 2rem;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #808080,
    inset -0.2rem -0.2rem 0.5rem #fff;
  background: none;
  font-family: inherit;
  color: #3c096c;

  &::placeholder {
    color: #8088c0;
  }

  &:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem #808080, -0.2rem -0.2rem 0.5rem #fff;
  }
}

.search-form-btn {
  display: inline;
  width: 15rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-color: transparent;
  box-shadow: 0.3rem 0.3rem 0.6rem #99a2e6, -0.2rem -0.2rem 0.5rem white;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.3rem;
  color: #99a2e6;

  &:hover {
    color: #fff;
    background-color: #99a2e6;
  }

  &:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #99a2e6,
      inset -0.2rem -0.2rem 0.5rem #fff;
    color: #fff;
  }
}

.search {
  margin-right: 0.625rem;
  fill: #99a2e6;
}
